<section>
   
    <div class="message">
        <div class="message-1">
            <ul id="list"></ul>
        </div>
    </div>
    <div class="terminal">

        <div class="clock-1">
            <p id="actu-hour">Hora: 22:35</p>
        </div>
        <div class="clock-2">
            <p id="actu-money">Saldo actual 20€</p>
        </div>


        <div class="card-1">
            <div class="text-card">Nombre de la tarjeta</div>
            <div class="input-card"><input placeholder="Horse Luis" type="text" name="name-card" id="name-card"></div>
        </div>

        <div class="card-2">
            <div class="text-card">Número de la tarjeta</div>
            <div class="input-card"><input placeholder="1234567890123456" type="number" name="number-card"
                    id="number-card"></div>
        </div>

        <div class="card-3">
            <div>
                <div class="text-card">Caducidad</div>
                <div class="input-card"><input placeholder="14-21" maxlength="5" class="input-card-2" type="text"
                        name="expiration-card" id="expiration-card"></div>
            </div>
            <div>
                <div class="text-card">Cvv</div>
                <div class="input-card"><input placeholder="456" maxlength="3" class="input-card-2" type="number"
                        name="cvv-card" id="cvv-card"></div>
            </div>

        </div>


        <div class="card-4">
            <div><input type="checkbox" name="save" id="save"></div>
            <div>
                <p>Guardar para la próxima compra</p>
            </div>
        </div>

        <div class="card-5">
            <div id="bt-card" class="bt bt2">
                <p>VERIFICAR</p>
            </div>
        </div>


    </div>
    <div class="main" id="main"> </div>


</section>